<a href="https://colab.research.google.com/github/MegaChie/AirBnB_clone/blob/main/Notebook/0x00_AirBnB_clone_The_console.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classes and Codes

In [1]:
import uuid
from datetime import datetime


class BaseModel:
    """ BaseModel """
    def __init__(self, *args, **kwargs):
        if kwargs is not None and  kwargs != {}:
            for key in kwargs:
                if key == "created_at":
                    self.__dict__["created_at"] = datetime.strptime(
                        kwargs["created_at"], "%Y-%m-%dT%H:%M:%S.%f")
                elif key == "updated_at":
                    self.__dict__["updated_at"] = datetime.strptime(
                        kwargs["updated_at"], "%Y-%m-%dT%H:%M:%S.%f")
                else:
                    self.__dict__ [key] = kwargs[key] 
        else:
            self.id = str(uuid.uuid4())
            self.created_at = datetime.now()
            self.updated_at = datetime.now()
    
    def __str__(self):
        """ BaseModel """
        return ("[{}] ({}) {}".format(type(self).__name__,
                                      self.id, self.__dict__))
        
    def save(self):
        """ BaseModel """
        self.update_at = datetime.now()

    def to_dict(self):
        """ BaseModel """
        newDict = self.__dict__.copy()
        newDict["__class__"] = type(self).__name__
        newDict["created_at"] = newDict["created_at"].isoformat()
        newDict["updated_at"] = newDict["updated_at"].isoformat()
        return newDict

# Tests

In [2]:
my_model = BaseModel()
my_model.name = "My First Model"
my_model.my_number = 89
print(my_model)
my_model.save()
print(my_model)
my_model_json = my_model.to_dict()
print(my_model_json)
print("JSON of my_model:")
for key in my_model_json.keys():
    print("\t{}: ({}) - {}".format(key, type(my_model_json[key]), my_model_json[key]))

[BaseModel] (e4509d6c-487f-477e-b74b-7ebb5c10563a) {'id': 'e4509d6c-487f-477e-b74b-7ebb5c10563a', 'created_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 77466), 'updated_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 77471), 'name': 'My First Model', 'my_number': 89}
[BaseModel] (e4509d6c-487f-477e-b74b-7ebb5c10563a) {'id': 'e4509d6c-487f-477e-b74b-7ebb5c10563a', 'created_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 77466), 'updated_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 77471), 'name': 'My First Model', 'my_number': 89, 'update_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 82939)}
{'id': 'e4509d6c-487f-477e-b74b-7ebb5c10563a', 'created_at': '2023-03-06T23:47:54.077466', 'updated_at': '2023-03-06T23:47:54.077471', 'name': 'My First Model', 'my_number': 89, 'update_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 82939), '__class__': 'BaseModel'}
JSON of my_model:
	id: (<class 'str'>) - e4509d6c-487f-477e-b74b-7ebb5c10563a
	created_at: (<class 'str'>) - 2023-03-06T23:47:54.077466
	updated_at: (<class 'str'>) - 2023-03-06T23:47:54.077471
	name: (<class 'str'>) - My First Model
	my_number: (<class 'int'>) - 89
	update_at: (<class 'datetime.datetime'>) - 2023-03-06 23:47:54.082939
	__class__: (<class 'str'>) - BaseModel

In [3]:
my_model = BaseModel()
my_model.name = "My_First_Model"
my_model.my_number = 89
print(my_model.id)
print(my_model)
print(type(my_model.created_at))
print("--")
my_model_json = my_model.to_dict()
print(my_model_json)
print("JSON of my_model:")
for key in my_model_json.keys():
    print("\t{}: ({}) - {}".format(key, type(my_model_json[key]), my_model_json[key]))

print("--")
my_new_model = BaseModel(**my_model_json)
print(my_new_model.id)
print(my_new_model)
print(type(my_new_model.created_at))

print("--")
print(my_model is my_new_model)

5fb8878e-307f-4bf1-8465-1594df742f7c
[BaseModel] (5fb8878e-307f-4bf1-8465-1594df742f7c) {'id': '5fb8878e-307f-4bf1-8465-1594df742f7c', 'created_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 719385), 'updated_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 719388), 'name': 'My_First_Model', 'my_number': 89}
<class 'datetime.datetime'>
--
{'id': '5fb8878e-307f-4bf1-8465-1594df742f7c', 'created_at': '2023-03-06T23:47:54.719385', 'updated_at': '2023-03-06T23:47:54.719388', 'name': 'My_First_Model', 'my_number': 89, '__class__': 'BaseModel'}
JSON of my_model:
	id: (<class 'str'>) - 5fb8878e-307f-4bf1-8465-1594df742f7c
	created_at: (<class 'str'>) - 2023-03-06T23:47:54.719385
	updated_at: (<class 'str'>) - 2023-03-06T23:47:54.719388
	name: (<class 'str'>) - My_First_Model
	my_number: (<class 'int'>) - 89
	__class__: (<class 'str'>) - BaseModel
--
5fb8878e-307f-4bf1-8465-1594df742f7c
[BaseModel] (5fb8878e-307f-4bf1-8465-1594df742f7c) {'id': '5fb8878e-307f-4bf1-8465-1594df742f7c', 'created_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 719385), 'updated_at': datetime.datetime(2023, 3, 6, 23, 47, 54, 719388), 'name': 'My_First_Model', 'my_number': 89, '__class__': 'BaseModel'}
<class 'datetime.datetime'>
--
False